.btn {
  display: inline-block;
  padding: 20px 50px;
  font-weight: bold;
  border-radius: 20px;
  color: #702c91;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#ff66ff));
  background: linear-gradient(to bottom right, #fff, #ff66ff);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #cc66ff;
}

.btn:hover {
  background: -webkit-gradient(linear, right bottom, left top, from(#fff), to(#ff66ff));
  background: linear-gradient(to top left, #fff, #ff66ff);
}

.btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

@media screen and (max-width: 780px) {
  .btn {
    padding: 10px 30px;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #222;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: #222;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.fluid {
  position: absolute;
  z-index: -10;
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffccff), color-stop(#ff99ff), to(#ff66ff));
  background: linear-gradient(#ffccff, #ff99ff, #ff66ff);
  width: 700px;
  height: 700px;
  top: 0;
  right: 0;
  margin-top: -150px;
  margin-right: -70px;
}

.fluid_two {
  position: absolute;
  z-index: -10;
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffccff), color-stop(#ff99ff), to(#ff66ff));
  background: linear-gradient(#ffccff, #ff99ff, #ff66ff);
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
}

.fluid_three {
  position: absolute;
  z-index: -10;
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffccff), color-stop(#ff99ff), to(#ff66ff));
  background: linear-gradient(#ffccff, #ff99ff, #ff66ff);
  top: 0;
  left: 0;
  margin-left: -300px;
  width: 400px;
  height: 400px;
}

.fluid_four {
  position: absolute;
  z-index: -10;
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffccff), color-stop(#ff99ff), to(#ff66ff));
  background: linear-gradient(#ffccff, #ff99ff, #ff66ff);
  bottom: 0;
  right: 0;
  margin-right: -300px;
  width: 500px;
  height: 500px;
}

.fluid_five {
  position: absolute;
  z-index: -10;
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffccff), color-stop(#ff99ff), to(#ff66ff));
  background: linear-gradient(#ffccff, #ff99ff, #ff66ff);
  bottom: 0;
  right: 0;
  width: 210px;
  height: 200px;
}

.fluid_six {
  position: absolute;
  z-index: -10;
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffccff), color-stop(#ff99ff), to(#ff66ff));
  background: linear-gradient(#ffccff, #ff99ff, #ff66ff);
  bottom: 0;
  margin-left: -320px;
  width: 600px;
  height: 600px;
}

.Dfluid {
  position: absolute;
  z-index: -10;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#d0e39b), color-stop(#c0db75), to(#b0c865));
  background: linear-gradient(#d0e39b, #c0db75, #b0c865);
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  top: 0;
  right: 0;
  margin-top: -150px;
  margin-right: -70px;
  width: 700px;
  height: 700px;
}

.Dfluid_two {
  position: absolute;
  z-index: -10;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#d0e39b), color-stop(#c0db75), to(#b0c865));
  background: linear-gradient(#d0e39b, #c0db75, #b0c865);
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  bottom: 0;
  right: 0;
  margin-right: -500px;
  margin-bottom: -200px;
  width: 700px;
  height: 700px;
}

.Dfluid_three {
  position: absolute;
  z-index: -10;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#d0e39b), color-stop(#c0db75), to(#b0c865));
  background: linear-gradient(#d0e39b, #c0db75, #b0c865);
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  top: 0;
  left: 0;
  margin-left: -500px;
  margin-bottom: -200px;
  width: 600px;
  height: 600px;
}

.Nfluid {
  position: absolute;
  z-index: -10;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#f69679), color-stop(#f37053), to(#c83e36));
  background: linear-gradient(#f69679, #f37053, #c83e36);
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  top: 0;
  right: 0;
  margin-top: -150px;
  margin-right: -70px;
  width: 700px;
  height: 700px;
}

.Nfluid_two {
  position: absolute;
  z-index: -10;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#f69679), color-stop(#f37053), to(#c83e36));
  background: linear-gradient(#f69679, #f37053, #c83e36);
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  bottom: 0;
  right: 0;
  margin-right: -500px;
  margin-bottom: -200px;
  width: 700px;
  height: 700px;
}

.Nfluid_three {
  position: absolute;
  z-index: -10;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#f69679), color-stop(#f37053), to(#c83e36));
  background: linear-gradient(#f69679, #f37053, #c83e36);
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  top: 0;
  left: 0;
  margin-left: -500px;
  margin-bottom: -200px;
  width: 600px;
  height: 600px;
}

.Sfluid {
  position: absolute;
  z-index: -10;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#aeb5dc), color-stop(#8490c8), to(#5c73b7));
  background: linear-gradient(#aeb5dc, #8490c8, #5c73b7);
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  top: 0;
  right: 0;
  margin-top: -150px;
  margin-right: -70px;
  width: 700px;
  height: 700px;
}

.Sfluid_two {
  position: absolute;
  z-index: -10;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#aeb5dc), color-stop(#8490c8), to(#5c73b7));
  background: linear-gradient(#aeb5dc, #8490c8, #5c73b7);
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  bottom: 0;
  right: 0;
  margin-right: -500px;
  margin-bottom: -200px;
  width: 700px;
  height: 700px;
}

.Sfluid_three {
  position: absolute;
  z-index: -10;
  -webkit-box-shadow: 0 2px 30px #999;
          box-shadow: 0 2px 30px #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#aeb5dc), color-stop(#8490c8), to(#5c73b7));
  background: linear-gradient(#aeb5dc, #8490c8, #5c73b7);
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 47%;
  -webkit-animation: drift 20s infinite linear;
          animation: drift 20s infinite linear;
  top: 0;
  left: 0;
  margin-left: -500px;
  margin-bottom: -200px;
  width: 600px;
  height: 600px;
}

.inner {
  padding-top: 200px;
}

.inner h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.inner h2 {
  font-size: 20px;
  margin: 10px 0;
}

.inner h6 {
  width: 50%;
  font-weight: bold;
}

.inner h6 span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(81%, transparent), color-stop(81%, yellow));
  background: linear-gradient(transparent 81%, yellow 81%);
}

.object,
.object::before,
.object::after {
  width: 16px;
  height: 84px;
  background: #fff;
  -webkit-animation: loading 1s 8 ease-in-out;
          animation: loading 1s 8 ease-in-out;
}

.object {
  margin: 0 auto;
  color: #fff;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  position: relative;
}

.object::before,
.object::after {
  content: '';
  position: absolute;
  top: 0;
}

.object::before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  left: -24px;
}

.object::after {
  left: 24px;
}

@-webkit-keyframes loading {
  0%,
  80%,
  100% {
    height: 64px;
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
  }
  40% {
    height: 80px;
    -webkit-box-shadow: 0 -32px;
            box-shadow: 0 -32px;
  }
}

@keyframes loading {
  0%,
  80%,
  100% {
    height: 64px;
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
  }
  40% {
    height: 80px;
    -webkit-box-shadow: 0 -32px;
            box-shadow: 0 -32px;
  }
}

#load_animation {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff99ff), to(#ff66ff));
  background: linear-gradient(#ff99ff, #ff66ff);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
