@charset "UTF-8";

$cHome: linear-gradient(#ffccff, #ff99ff, #ff66ff);
$cDetail: linear-gradient(#d0e39b, #c0db75, #b0c865);
$cNews: linear-gradient(#f69679, #f37053, #c83e36);
$cService: linear-gradient(#aeb5dc, #8490c8, #5c73b7);

$cHomeBtn: linear-gradient(to bottom right, #fff, #ff66ff);
$cHomeBtn_Hover: linear-gradient(to top left, #fff, #ff66ff);